**Tuple Operations:**

* Tuples are used to store multiple items in a single variable.
* A tuple is a collection which is ordered and immutable (unchangeable).
* Attempting to modify a tuple will result in a TypeError.
* Tuples are written with round brackets (parenthesis) and elements are separated by commas.

In [1]:
fruits = ("apple", "banana", "cherry")
print("Created tuple:", fruits)

Created tuple: ('apple', 'banana', 'cherry')

* Tuple items can be of any data type. However, tuple is always tuple type data type.

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = (1, "apple", 3, True)

print("Data Type of tuple1:", type(tuple1))
print("Data Type of tuple2:", type(tuple2))
print("Data Type of tuple3:", type(tuple3))
print("Data Type of tuple4:", type(tuple4))

Data Type of tuple1: <class 'tuple'>
Data Type of tuple2: <class 'tuple'>
Data Type of tuple3: <class 'tuple'>
Data Type of tuple4: <class 'tuple'>

In [13]:
# Using the tuple() method to make a tuple
fruits = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print("Created tuple:", fruits)

Created tuple: ('apple', 'banana', 'cherry')

* Tuple items are ordered, unchangeable, and allow duplicate values.
* Like strings and lists, tuple items are also indexed with starting index 0

---------------------------------------------------------------------------------------------------------------------

* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
* Since tuples are indexed, they can have items with the same value.

In [16]:
# Accessing elements in a tuple (indexing)
# Syntax: tuple[index]
my_tuple = (1, 2, 3, 'a', 'b')
# Accessing the first element
print("First element:", my_tuple[0]) 

# Accessing the last element
print("Last element:", my_tuple[-1]) 

# Accessing the tuple from 2nd element to end
print("From index 2 till end:", my_tuple[2:])

# Range of negative indexes
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("Using negative index range:", fruits[-4:-1])

First element: 1
Last element: b
From index 2 till end: (3, 'a', 'b')
Using negative index range: ('orange', 'kiwi', 'melon')

In [6]:
# Slicing a tuple
# Syntax: tuple[start:stop:step]
print("Elements from index 1 up to (but not including) index 3:", my_tuple[1:3]) # Accessing elements from index 1 up to (but not including) index 3
print("Accessing Elements with Step 2:", my_tuple[::2]) # Accessing every other element

Elements from index 1 up to (but not including) index 3: (2, 3)
Accessing Elements with Step 2: (1, 3, 'b')

In [7]:
# Concatenation
# Syntax: tuple1 + tuple2
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print("After concatenation:", combined_tuple)

After concatenation: (1, 2, 3, 4)

In [8]:
# Repetition
# Syntax: tuple * n (where n is the number of repetitions)
repeated_tuple = tuple1 * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 1, 2, 1, 2)

In [17]:
# Membership
# Syntax: item in tuple (returns True if item is in tuple, False otherwise)
print(1 in tuple1)
print(5 in tuple1)

fruits = ("apple", "banana", "cherry")
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits tuple")

False
False
Yes, 'apple' is in the fruits tuple

In [10]:
# Length of a tuple
# Syntax: len(tuple)
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 5

**Change Tuple Values**
* As mentioned earlier, once a tuple is created, you cannot change its values. Tuples are unchangeable or immutable.
* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [18]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print("Updated tuple:", x)

Updated tuple: ('apple', 'kiwi', 'cherry')

**Add Items**
* As the tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.
2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple.

In [24]:
x = ("apple", "banana", "cherry")
# Using List Append()
y = list(x)
y.append("orange")
x = tuple(y)
print("After appending an item to tuple:", x)

# Using tuple concatenation
x = ("apple", "banana", "cherry")
y = ("orange",)
x += y
print("After adding two tuples:", x)

After appending an item to tuple: ('apple', 'banana', 'cherry', 'orange')
After adding two tuples: ('apple', 'banana', 'cherry', 'orange')

**Remove Items**
* Tuples are immutable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [35]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple
fruits = ("apple", "banana", "cherry", "orange")
y = list(fruits)
y.remove("cherry")
fruits = tuple(y)

print("After removing an element:", fruits)

After removing an element: ('apple', 'banana', 'orange')

In [ ]:
# The del keyword can delete the tuple completely. When a tuple is deleted and try to access the elements, it throws an error
x = ("apple", "banana", "cherry")
del x
print(x) #this will raise an error because the tuple no longer exists

NameError: name 'x' is not defined

**Unpacking a Tuple**
* When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
* But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".


Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [38]:
# Define a tuple - Packing
fruits = ("apple", "banana", "cherry")

# Assign the tuple elements to variables defined in parenthesis - Unpacking

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Using Asterisk (\*) :**
* If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.
* If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [42]:
# Assign the rest of the values as a list called "red"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

# Add a list of values the "tropic" variable
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits
print("--------------------------------------")
print(green)
print(tropic)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']
--------------------------------------
apple
['mango', 'papaya', 'pineapple']
cherry