<a href="https://colab.research.google.com/github/RajashekarAllala/Python_For_Data_Engineering/blob/main/PySpark/01_PySpark_RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# Install PySpark
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /usr/local/lib/python3.12/dist-packages (2.0.1)

In [2]:
from pyspark.sql import SparkSession, DataFrame
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

In [3]:
# Create RDD
sc = spark.sparkContext
data = [1, 2, 3, 4, 5]
# Parallelize the data
rdd = sc.parallelize(data)
rdd.collect()

[1, 2, 3, 4, 5]

In [6]:
# Create a RDD from a textFile
rdd1=sc.textFile("/content/Data_Sets/numbers.txt")
rdd1.take(20)

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [26]:
# Create a RDD from Range

rdd2 = sc.range(start=0, end=50, step=5)
rdd3 = rdd2.take(5)
rdd3 = sc.parallelize(rdd3)
rdd3.collect()

[0, 5, 10, 15, 20]

In [27]:
# Using Map, create a new list with square of numbers
sqrs = rdd3.map(lambda x: x * x)
sqrs.collect()

[0, 25, 100, 225, 400]

In [28]:
# Use map to multiply numbers with 5
numbers = [1, 2, 3, 4, 5]
num_rdd = sc.parallelize(numbers)
num_rdd = num_rdd.map(lambda x: x * 5)
num_rdd.collect()

[5, 10, 15, 20, 25]

In [30]:
# Original List: ["quick", "bright", "silent"]
# Use map to append the suffix “ly” to each word.
words = ["quick", "bright", "silent"]
words_rdd = sc.parallelize(words)
words_rdd = words_rdd.map(lambda x: x + "ly")
words_rdd.collect()

['quickly', 'brightly', 'silently']

In [31]:
# FlatMap - Break each sentence into words and make a single list of all the words.
sentences = ["Hello world", "Spark is great", "Map and flatMap"]
sentences_rdd = sc.parallelize(sentences)
words_rdd = sentences_rdd.flatMap(lambda x: x.split(" "))
words_rdd.collect()

['Hello', 'world', 'Spark', 'is', 'great', 'Map', 'and', 'flatMap']